  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(215, 46%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container{
    max-width: 350px;
}

.quadro{
    background-color: hsl(0, 0%, 100%);
    padding: 12px;
    border-radius: 18px;
    text-align: center;
    margin: 0 1rem;
}

.quadro img{
    width: 100%;
    border-radius: 12px;
}

.texto{
    padding: 20px 10px;
}

h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding-bottom: 18px;
}

p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.atributo { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;     
}
.atributo a { color: hsl(228, 45%, 44%); 
}

